*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #E6E6FA;
    font-family: 'Montserrat', sans-serif;
}

.logo{
    margin-top:2rem;
    margin-left: 2rem;
    width: 5rem;
}

main{
    display: flex;
    height: 100%;
    margin: 1rem 2rem 2rem 2rem;
}

.section-encriptar, .section-resultado{
    padding: 1rem;
    text-align: center;
}

.section-encriptar{
    background-color: antiquewhite;
    height: auto;
    width: 70%;
}

.input-texto, .output-texto{
    width: 100%;
    margin-bottom: 2rem;
    height: 25rem;
    font-size: 1.5rem;
}

.alerta{
    line-height: 1rem;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
}

.img-alerta{
    width: 0.8rem;    
}

.botones{
    position: relative;
    bottom: 0;
}

.boton{
    padding: 1.2rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 30px;
    width: 40%;
}

.encriptar{
    margin-right: 2rem;    
}

.section-resultado{
    background-color: white;
    height: auto;
    width: 30%;
}

.div-temporal{
    display: none;
}


.copiar{
    margin-top: 1.5rem;
    width: 80%;
}
footer{
    padding: 1rem;
    background: purple;
    text-align: center;
    color: white;
}
